@import "vendors/_bootstrap.min";
@import "vendors/_bootstrap-select.min";
@import "vendors/_jquery-ui.min";
@import "vendors/ui-grid/_ui_grid_base";
@import "helpers/_variable";
@import "helpers/_icons";
@import "helpers/_margin";
@import "components/_button";
@import "components/_table";
@import "components/_dropdown";
@import "components/_modal";
@import "components/_form";
@import "components/_ui_grid";
@import "layout/_header";
@import "layout/_submenu";
@import "layout/_profile-dd";
@import "layout/_notification";
@import "layout/_deals-header";
@import "layout/_deals-sidebar";
@import "layout/_deals-action";
@import "page/_home";
*{margin:0; padding: 0; box-sizing: border-box;}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

html{ height: 100%;}
body{
	background: #f2f2f2;
	font-size: $font-16;
	font-family: 'Roboto', sans-serif;
	padding-top: 64px;
	position: relative;
	min-height:100%;
	min-width: 1024px;
}
.container-fluid{
	min-width: 1024px !important;
}
.navbar{
	.container-fluid{
		min-width: 1024px !important;
	}
}
.content-wrapper{
	padding-top: 36px;
	padding-bottom: 30px;
}
nav #navbar .navbar-nav li a .visible-lg.custom-visible{
	display: none !important;
}
