<div class="modal fade" id="modifyCompanyDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Modify company details</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Company Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Phone</label>
                <input type="text" class="form-control" id="exampleInputPassword1" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Email</label>
                <input type="text" class="form-control" id="exampleInputPassword1" >
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Value</label>
            <input type="text" class="form-control" id="exampleInputPassword1" >
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Country</label>
                <select class="selectpicker">
                  <option value="Select">Select</option>
                  <option value="">Option 1</option>
                  <option value="">Option 2</option>
                  <option value="">Option 3</option>
                  <option value="">Option 4</option>
                  <option value="">Option 5</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Postal Code</label>
                <input type="text" class="form-control" id="exampleInputPassword1" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1">City</label>
                <input type="text" class="form-control" id="exampleInputPassword1" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Visible to</label>
                <div class="mts">
                  <a href="javascript:void(0)" class="btn-small-modal">Everyone</a>
                  <a href="javascript:void(0)" class="btn-small-modal selected mls">Private</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn white" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn">Save</button>
      </div>
    </div>
  </div>
</div>