<div class="action-block">
	<div class="row">
		<p class="f-color-dark-salmon pull-left f-medium">Pending Actions <span class="pending-action-count">2</span></p>
		<div class="action-buttons">
			<span class="f-color-muted-purple f-medium">Add</span>
			<a href="" class="btn-small f-color-purple" data-toggle="modal" data-target="#newNote">Note</a>
			<a href="" class="btn-small f-color-purple">Activity</a>
			<a href="" class="btn-small f-color-purple">Email</a>
			<a href="" class="btn-small f-color-purple">Upload file</a>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-11 col-sm-10 action-detail-wrapper">
			<div class="padder red">
				<div class="top-section">
					<div class="title">Call to close Notebook deal</div>
					<div class="clearfix">
						<div class="top-section-deal-detail">Bill Gates</div>
						<div class="top-section-deal-detail">Microsoft, USA</div>
					</div>
				</div>
				<div class="bottom-section">
					Phasellus enim turpis, feugiat vel sem nec, lacinia semper nisi. Maecenas vestibulum enim risus, sit amet aliquet diam condimentum vitae. Morbi ac luctus odio. Pellentesque placerat sem urna.
				</div>
			</div>
		</div>
		<div class="action-time">
			<div class="time">11:00 pm</div>
			<div class="date">15 Mar</div>
		</div>
	</div>
	<div class="row">
		<div class="past-actions col-lg-11 prn">
			<p class="f-medium pull-left">Past Actions</p>
			<div id="dropdownMenu1" data-toggle="dropdown" class="dropdown-toggle pull-right"><span class="text f-color-warm-grey-three">Show All</span><span class="caret mlm"></span></div>
			<ul aria-labelledby="dropdownMenu1" class="dropdown-menu white pull-right table-menu">
              <li><a href="javascript:void(0)" class="active">Show All</a></li>
              <li><a href="javascript:void(0)">Notes</a></li>
              <li><a href="javascript:void(0)">Activities</a></li>
              <li><a href="javascript:void(0)">Emails</a></li>
              <li><a href="javascript:void(0)">Uploaded files</a></li>
            </ul>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-11 col-sm-10 action-detail-wrapper">
			<div class="padder green">
				<div class="top-section">
					<div class="title">Lets meet tomorrow if possible</div>
					<div class="clearfix">
						<div class="top-section-deal-detail">Bill Gates</div>
						<div class="top-section-deal-detail">Microsoft, USA</div>
					</div>
				</div>
				<div class="bottom-section">
					Aenean sit amet rutrum tellus. Suspendisse venenatis consequat purus, eu accumsan justo. Mauris laoreet elementum ligula. Cras pretium mi nec diam posuere, sit amet malesuada dolor suscipit.
				</div>
			</div>
		</div>
		<div class="action-time">
			<div class="time">11:00 pm</div>
			<div class="date">15 Mar</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-11 col-sm-10 action-detail-wrapper">
			<div class="padder">
				<div class="bottom-section">
					Phasellus enim turpis, feugiat vel sem nec, lacinia semper nisi. Maecenas vestibulum enim risus, sit amet aliquet diam condimentum vitae. Morbi ac luctus odio. 
				</div>
			</div>
		</div>
		<div class="action-time">
			<div class="date">15 Mar</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-11 col-sm-10 action-detail-wrapper">
			<div class="padder">
				<div class="bottom-section">
					<a href="" class="f-color-muted-purple">Scope_of_work.pdf</a> 
				</div>
			</div>
		</div>
		<div class="action-time">
			<div class="date">15 Mar</div>
		</div>
	</div>
</div>