<div class="deal-title">
	<p class="title">Windows 10 purchase</p>
	<a href="" class="btn-small f-color-grey">Edit Deal</a>
	<a href="" class="btn-small f-color-grey">Follow</a>
</div>
<div class="deal-short-detail">
	<ul class="clearfix">
		<li>
			<p class="title">Company</p>
			<p class="value">Microsoft</p>
		</li>
		<li>
			<p class="title">Amount</p>
			<p class="value">Rs 1,98,000</p>
		</li>
		<li>
			<p class="title">Close date</p>
			<p class="value">24/05/15</p>
		</li>
		<li>
			<p class="title">Deal state</p>
			<p class="value">Private</p>
		</li>
	</ul>
</div>
<div class="action-wrapper">
	<a class="action-button trash" href="#">
		<span><i class="icon icon-trash"></i></span>
		<div class="title">Trash</div>
	</a>
	<a class="action-button thumb-up" href="#">
		<span><i class="icon icon-thumb-up"></i></span>
		<div class="title">Won</div>
	</a>
	<a class="action-button thumb-down" href="#">
		<span><i class="icon icon-thumb-down"></i></span>
		<div class="title">Lost</div>
	</a>
</div>
<div class="stages-wrapper">
	<ul class="clearfix">
		<li class="active">
			<a href="#" ><span class="truncate">Leads</span></a>
		</li>
		<li>
			<a href="#"><span class="truncate">Contacted</span></a>
		</li>
		<li>
			<a href="#"><span class="truncate">Needs Discovered</span></a>
		</li>
		<li>
			<a href="#"><span class="truncate">Proposal</span></a>
		</li>
		<li>
			<a href="#"><span class="truncate">Negotiation</span></a>
		</li>
	</ul>
</div>