<div class="blocks">
	<div class="clearfix">
		<div class="title">
			Microsoft
		</div>
		<div class="action-links">
			<a href="javascript:void(0)" data-toggle="modal" data-target="#modifyCompanyDetails">Edit</a>
			<a href="">Unlink</a>
		</div>
	</div>
	<div class="detail-info clearfix">
		<p class="info-label">Address</p>
		<p class="info">1 Microsoft Way, Redmond,<br>CA 77548<br>USA</p>
	</div>
	<div class="detail-info clearfix">
		<p class="info-label">Phone</p>
		<p class="info phone">+1 12345 12345</p>
	</div>
	<div class="detail-info clearfix">
		<p class="info-label">Email</p>
		<p class="info email">contact@microsoft.com</p>
	</div>
</div>
<div class="blocks">
	<div class="clearfix">
		<div class="title">
			Bill Gates
		</div>
		<div class="action-links">
			<a href="">Edit</a>
			<a href="">Unlink</a>
		</div>
	</div>
	<div class="detail-info clearfix">
		<p class="info-label">Phone</p>
		<p class="info phone">+1 12345 12345</p>
	</div>
	<div class="detail-info clearfix">
		<p class="info-label">Email</p>
		<p class="info email">bill@microsoft.com</p>
	</div>
</div>
<div class="blocks">
	<div class="clearfix">
		<div class="title">
			Followers
		</div>
		<div class="action-links">
			<a href="">+ Add followers</a>
		</div>
	</div>
	<div class="clearfix">
		<div class="followers-img">
			<div class="img" style="background-image:url('images/p1.jpg')"></div>
		</div>
		<div class="followers-img">
			<div class="img" style="background-image:url('images/p2.jpg')"></div>
		</div>
		<div class="followers-img">
			<div class="img" style="background-image:url('images/p3.jpg')"></div>
		</div>
		<div class="followers-img">
			<div class="img" style="background-image:url('images/p4.jpg')"></div>
		</div>
		<div class="followers-img">
			<div class="img" style="background-image:url('images/p1.jpg')"></div>
		</div>
		<div class="followers-img">
			<div class="img" style="background-image:url('images/p2.jpg')"></div>
		</div>
	</div>
</div>
<div class="blocks">
	<div class="clearfix">
		<div class="title">
			dealxx@emails.elixir.com
		</div>
		<div class="action-links">
			<a href="">Copy</a>
		</div>
	</div>
	<div class="text-12">You can link an email to this deal if you forward, CC or BCC it to the below mentioned address</div>
</div>
<script type="text/javascript">
	$(function(){
		$('.deals-sidebar').css('min-height',($(window).height()-184)+"px");
		// if($('.followers-img').length){
	 //      var followersLength = $('.followers-img').length;
	 //      $('.followers-img').each(function(){
	 //        followersLength--;
	 //        $(this).css('z-index',followersLength)
	 //      })
	 //    }
	})
</script>