<!doctype html>
<html ng-app="app">
  <head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <script src="js/angular.js"></script>
	<script src="js/ui-grid.js"></script>
	<script src="js/app.js"></script>
  <link rel="stylesheet" type="text/css" href="css/production.css">

  </head>
  <body>
    <div class="container-fluid">
      <div ng-controller="MainCtrl">
        <p><strong>Grid with native pagination controls</strong></p>
        <div ui-grid="gridOptions1" ui-grid-pagination class="grid"></div>
        <br /><br />
        <p><strong>Grid pagination controlled via the API</strong></p>
        <div ui-grid="gridOptions2" ui-grid-pagination class="grid"></div>
        <p>Current page: {{ gridApi2.pagination.getPage() }} of {{ gridApi2.pagination.getTotalPages() }}</p>
        <button type="button" class="btn btn-success" ng-click="gridApi2.pagination.previousPage()">
          previous page
        </button>
        <button type="button" class="btn btn-success" ng-click="gridApi2.pagination.nextPage()">
          next page
        </button>
        <button type="button" class="btn btn-success" ng-click="gridApi2.pagination.seek(3)">
          go to page 3
        </button>
      </div>
    </div>
  </body>
</html>