<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand logo">
       <div class="circle"></div>
       <div class="text">
          <strong>ELIXIR</strong>CRM
        </div>
      </a>
    </div>
    <div class="navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li class="">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Home"><i class="icon icon-home"></i><span class="visible-lg">Home</span></a>
        </li>
        <li class="active">
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Deals"><i class="icon icon-deals"></i><span class="visible-lg">Deals</span></a>
        </li>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="People"><i class="icon icon-people"></i><span class="visible-lg">People</span></a>
        </li>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Companies"><i class="icon icon-companies"></i><span class="visible-lg">Companies</span></a>
        </li>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Activities"><i class="icon icon-activities"></i><span class="visible-lg">Activities</span></a>
        </li>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Reports"><i class="icon icon-reports"></i><span class="visible-lg">Reports</span></a>
        </li>
        <li>
          <a href="#" data-toggle="tooltip" data-placement="bottom" title="Mail"><i class="icon icon-mail"></i><span class="visible-lg">Mail</span></a>
        </li>
      </ul>
      <div class="profile-pic">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle"></a> 
      </div>
      <div class="notifications">
        <a href="#" class="notifications-full-view-link">
          <span class="notification-indicator"></span>
          <i class="icon icon-notification"></i>
        </a>
        <div class="popup-notification-wrapper">
          <a href="javascript:void(0)" class="notification-icon-close"><i class="icon icon-close-small"></i></a>
          <i class="icon icon-message"></i>
          <div>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">12:45 pm, Today</p>
          </div>
        </div>
      </div>
      <div class="search-container">
        <i class="icon icon-search"></i>
      </div>
    </div>
  </div>
</nav>
<div class="profile-menu">
  <ul class="profile-dropdown" aria-labelledby="filterDropdown">
    <li class="close-profile-dd"><a href="javascript:void(0)"><i class="icon icon-close"></i></a></li>
    <li class="profile-pic-div">
      <div class="display-pic"></div>
      <p class="user-name">Krishna R.V.</p>
      <p class="other-info">Chief UX Architect</p>
    </li>
    <li><a href="#"><i class="icon icon-user"></i>My Profile</a></li>
    <li><a href="#"><i class="icon icon-dollar"></i>Plan &amp; Billing</a></li>
    <li><a href="#"><i class="icon icon-tell-friend"></i>Tell a Friend</a></li>
    <li><a href="#"><i class="icon icon-settings"></i>Settings</a></li>
    <li><a href="#"><i class="icon icon-logout"></i>Logout</a></li>
    <li class="copy-right">&copy;2016 Seria Technologies. All rights Reserved.</li>
  </ul>
</div>
<div class="notification-overlay">
  <div class="notification-full-view">
    <p class="notification-heading">Notifications <span class="notification-count">23</span></p>
    <div class="close-notification-dd"><a href="javascript:void(0)"><i class="icon icon-close"></i></a></div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#all" aria-controls="all" role="tab" data-toggle="tab">
          <i class="icon icon-notification"></i><br/>
          <span class="text">All</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#deals" aria-controls="deals" role="tab" data-toggle="tab">
          <i class="icon icon-deals"></i><br/>
          <span class="text">Deals</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#mail" aria-controls="mail" role="tab" data-toggle="tab">
          <i class="icon icon-mail"></i><br/>
          <span class="text">Mail</span>
        </a>
      </li>
      <li role="presentation">
        <a href="#activity" aria-controls="activity" role="tab" data-toggle="tab">
          <i class="icon icon-activities"></i><br/>
          <span class="text">Activity</span>
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="all">
        <ul>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="deals">
        <ul>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="mail">
        <ul>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
        </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="activity">
        <ul>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
          <li>
            <p class="title">Notification Heading 1</p>
            <p>simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
            <p class="time">2:15pm, Today</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>