<div class="container-fluid">
	<div class="row">
		<div class="col-xs-5">
			<div class="breadcrums">
				<ul class="clearfix">
					<li class="title"><i class="icon icon-deals-purple"></i>Deals</li>
					<li>my open deals</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-7 pln">
			<ul class="right-side">
				<li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="filterDropdown"><i class="icon icon-filter hidden-sm"></i>Filters<span class="caret mlm"></span></a>
          <ul class="dropdown-menu white filter-dropdown arrow table-menu dropdown-menu-right" aria-labelledby="filterDropdown">
            <li><a href="#">My Deals</a></li>
            <li><a href="#">Everyone's Deals</a></li>
            <li class="divider-2dp">DEAL ACTIVITY</li>
            <li><a href="#">Open</a></li>
            <li><a href="#">Won</a></li>
            <li><a href="#">Lost</a></li>
            <li><a href="#">Deleted</a></li>
            <li><a href="#">Deals with No Activities</a></li>
            <li><a href="#">Deals with Overdue Activities</a></li>
            <li><a href="#">Deals with Pending Activities</a></li>
          </ul>
        </li>
				<li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="exportDropdown"><i class="icon icon-export hidden-sm"></i>Export<span class="caret mlm"></span></a>
          <ul class="dropdown-menu white export arrow" aria-labelledby="exportDropdown">
            <li><a href="#"><i class="icon icon-excel"></i>Excel</a></li>
            <li><a href="#"><i class="icon icon-csv"></i>CSV</a></li>
          </ul>
        </li>
				<li><a href="#"><i class="icon icon-pipeline hidden-sm"></i>Pipeline View</a></li>
				<li><a href="#" class="color-green" data-toggle="modal" data-target="#newDeal"><i class="icon icon-add"></i>Add New Deal</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="modal fade" id="newDeal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Add new deal</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Title</label>
            <input type="text" class="form-control" id="exampleInputEmail1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Value</label>
            <input type="text" class="form-control" id="exampleInputPassword1" >
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Contact</label>
                <input type="text" class="form-control" id="exampleInputPassword1" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Organization</label>
                <input type="text" class="form-control" id="exampleInputPassword1" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Expected Close Date</label>
                <input type="text" class="form-control" id="exampleInputPassword1" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="exampleInputPassword1">Visible to</label>
                <div class="mts">
                  <a href="javascript:void(0)" class="btn-small-modal">Everyone</a>
                  <a href="javascript:void(0)" class="btn-small-modal selected mls">Private</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn white" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn">Save</button>
      </div>
    </div>
  </div>
</div>