.icon{
	display: inline-block;
	vertical-align: text-top;
	margin-right: 5px;
	height: 20px;
	width: 22px;
	background:url("../images/sprite.png") no-repeat
}
.icon-home{
	background-position: -66px -20px;
}
.icon-deals{
	background-position: -132px -60px;
}
.icon-deals-purple{
	background-position: -44px -60px;
}
.icon-people{
	background-position: -44px 0px;
}
.icon-companies{
	background-position: -66px 0px;
}
.icon-activities{
	background-position: -66px -40px;
}
.icon-reports{
	background-position: -44px -40px;
}
.icon-mail{
	background-position: 0 -40px;
}
.icon-add{
	background-position: -66px -60px;
}
.icon-pipeline{
	background-position: -22px -41px;
}
.icon-export{
	background-position: -44px -20px;
}
.icon-filter{
	background-position: 0 -19px;
}
.icon-excel{
	background-position: -88px -40px;
}
.icon-csv{
	background-position: -88px 0;
}
.icon-notification{
	background-position: 0 0;
}
.icon-search{
	background-position: 0 -60px;
}
.icon-user{
	background-position: -110px 0;
}
.icon-dollar{
	background-position: -110px -20px;
}
.icon-tell-friend{
	background-position: -110px -40px;
}
.icon-settings{
	background-position: -110px -60px;
}
.icon-logout{
	background-position: -110px -80px;
}
.icon-close{
	background-position: -110px -100px;
}
.icon-close-small{
	background-position: -132px -100px;
}
.icon-message{
	background-position: -88px -100px;
}
.icon-thumb-down{
	background-position: 0 -80px;
	height: 56px;
	margin: 0;
}
.icon-thumb-up{
	background-position: -22px -80px;
	height: 56px;
	margin: 0;
}
.icon-trash{
	background-position: -44px -80px;
	height: 56px;
	margin: 0;
}