// Color Palette
$color-dark-lavender: #8665a2;
$color-muted-purple: #705587;
$color-dusk: #573f6e;
$color-greyish-brown: #4a4a4a;
$color-warm-grey: #999999;
$color-warm-grey-two: #9b9b9b;
$color-warm-grey-three: #747474;
$color-avocado-green: #6ab31a;
$color-white: #ffffff;
$color-white-70: rgba(255,255,255,0.7);
$color-white-50: rgba(255,255,255,0.5);
$color-white-26: rgba(255,255,255,0.26);
$color-topaz: #1ab3a6;
$color-teal-blue: #009ead;
$color-orange: #f55a23;
$color-dark-salmon: #ce7064;
$color-soft-green: #79be78;
$color-pinkish-grey: #c1c1c1;
$color-sunflower-yellow: #fbda00;
$color-black-98: rgba(47, 47, 47, 1.0);
$color-pinkish-grey-two: #d0d0d0;

// font size
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
$font-12: 12px;
$font-11: 11px;
$font-10: 10px;

// truncate css
.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pos-rel{
	position: relative;
}

.f-color-dark-lavender { color: $color-dark-lavender; }
.f-color-muted-purple { color: $color-muted-purple; }
.f-color-dusk { color: $color-dusk; }
.f-color-greyish-brown { color: $color-greyish-brown; }
.f-color-warm-grey { color: $color-warm-grey; }
.f-color-warm-grey-two { color: $color-warm-grey-two; }
.f-color-warm-grey-three { color: $color-warm-grey-three; }
.f-color-avocado-green { color: $color-avocado-green; }
.f-color-white { color: $color-white; }
.f-color-topaz { color: $color-topaz; }
.f-color-teal-blue { color: $color-teal-blue; }
.f-color-orange { color: $color-orange; }
.f-color-dark-salmon { color: $color-dark-salmon; }
.f-color-soft-green { color: $color-soft-green; }
.f-color-pinkish-grey { color: $color-pinkish-grey; }
.f-color-sunflower-yellow { color: $color-sunflower-yellow; }
.f-color-black-98 { color: $color-black-98; }
.f-color-pinkish-grey-two { color: $color-pinkish-grey-two; }

.f-medium{ font-weight: 600;}