.deals-sidebar{
	background: white;
	width: 20%;
	max-width: 360px;
	min-width: 300px;
	float: left;
	@media screen and (max-width: 1024px){
		width: 30%;
		max-width: auto;
		min-width: 0;
	}
	.blocks{
		box-shadow: inset 0 -1px 0 0 #f2f2f2;
		padding: 35px 15px;
		.title{
			float: left;
			color: $color-muted-purple;
			font-weight: 600;
			margin-bottom: 10px;
		}
		.action-links{
			float: right;
			display: none;
			a{
				float: left;
				color: $color-warm-grey;
				font-size: $font-14;
				margin-left: 15px;
				&:hover{
					text-decoration: none;
				}
			}
		}
		.detail-info{
			color: $color-warm-grey;
			font-size: $font-14;
			.info-label{
				float: left;
				margin-right: 20px;
				width: 60px;
			}
			.info{
				float: left;
				&.email, &.phone{
					color: $color-muted-purple;
				}
			}
		}
		.text-12{
			font-size: $font-12;
			color: $color-warm-grey;
		}

		&:hover{
			background: #fafafa;
			.action-links{
				display: block;
			}
		}
		.followers-img{
			height: 48px;
			width: 48px;
			border-radius: 50%;
			border: 2px solid white;
			overflow: hidden;
			float: left;
			position: relative;
			margin-left: -10px;
			&:first-child{
				margin-left: 0;
			}
			&:nth-child(1){ z-index: 6; }
			&:nth-child(2){ z-index: 5; }
			&:nth-child(3){ z-index: 4; }
			&:nth-child(4){ z-index: 3; }
			&:nth-child(5){ z-index: 2; }
			&:nth-child(6){ z-index: 1; }
			.img{
				background-size: cover;
				background-position: center;
				height: 48px;
				width: 48px;
				border-radius: 50%;
			}
		}
	}
}