.deals-header{
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12);
	height: 120px;
	background: $color-white;
	min-width: 1024px;
	padding: 0 15px;
	position: relative;
	z-index: 1;
	.deal-title{
		width: 285px;
		float: left;
		padding: 15px 15px 0 33px;
		.title{
			font-size: 23px;
			font-weight: 600;
			color: $color-muted-purple;
		}
		@media screen and (max-width: 1024px){
			padding-left: 0px;
			width: 285px;
			.title{
				font-size: 24px;
			}
		}
	}
	.deal-short-detail{
		float: left;
		padding: 20px 0 0 58px;
		@media screen and (max-width: 1024px){
			padding-left: 20px;
		}
		ul{
			list-style-type: none;
			li{
				float: left;
				margin-right: 60px;
				@media screen and (max-width: 1024px){
					margin-right: 40px;
				}
			}
			p.title{
				color: $color-warm-grey;
				font-size: $font-14;
				margin-bottom: 0;
			}
			p.value{
				color: $color-greyish-brown;
				margin-bottom: 15px;
			}
		}
	}
	.action-wrapper{
		float: right;
		position: absolute;
		right: 15px;
		padding-top: 20px;
		a.action-button{
			float: right;
			margin-left: 40px;
			@media screen and (max-width: 1024px){
				margin-left: 20px;
			}
			&:hover{
				text-decoration: none;
				margin-top: -10px;
				span{
					margin-bottom: 15px;
				}
			}
			span{
				border-radius: 50%;
			    display: inline-block;
			    height: 40px;
			    margin-bottom: 5px;
			    text-align: center;
			    width: 40px
			}
			.title{
				font-size: $font-14;
				color: $color-warm-grey;
				text-align: center;
			}
			&.thumb-down{
				span{
					background: $color-dark-salmon;
					.icon{background-position: 0 -87px;}
				}
			}
			&.thumb-up{
				span{
					background: $color-soft-green;
					.icon{background-position: -22px -90px;}
				}
			}
			&.trash{
				span{
					background: $color-pinkish-grey;
					.icon{background-position: -44px -90px;}
				}
			}
		}
	}
	.stages-wrapper{
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
		border-radius: 25px;
		bottom: -22px;
	    left: 360px;
	    position: absolute;
	    @media screen and (max-width: 1024px){
	    	left: 320px;
	    }
		ul {
			list-style-type: none;
			margin-bottom: 0;
			li{
				margin-right: 0;
				float: left;
				a{
					background:$color-pinkish-grey-two;
					color: $color-white;
				    display: block;
				    font-size: $font-14;
				    font-weight: 400;
				    height: 50px;
				    line-height: 44px;
				    padding: 0 10px 0 35px;
				    position: relative;
				    text-align: center;
				    text-decoration: none;
				    border: 3px solid white;
				    border-right: none;
					&::before{
						border-bottom: 22px solid transparent;
				    border-left: 22px solid $color-white;
				    border-top: 22px solid transparent;
				    content: "";
				    left: 0;
				    position: absolute;
				    top: 0;
					}
					&::after{
						border-bottom: 22px solid transparent;
					    border-left: 22px solid $color-pinkish-grey-two;
					    border-top: 22px solid transparent;
					    content: "";
					    left: -3px;
					    position: absolute;
					    top: 0;
					}
					&:focus{
						outline: none;
					}
				}
				&.active{
					a{
						background: $color-topaz;
					}
					+ li{
						a::after{
							border-left-color:$color-topaz;
						}
					}
				}
				&:first-child{
					a{
						border-radius: 25px 0 0 25px;
						padding-left:20px;
						&::before, &::after{
							border: none;
						}
					}
				}
				&:last-child{
					a{
						border-radius: 0 25px 25px 0;
						border-right: 3px solid white;
						padding-right: 20px;
					}
				}
			}
		}
	}
}