.deals-actions{
	float: left;
    padding: 50px 50px 0 58px;
    width: 76%;
    @media screen and (max-width: 1024px){
    	padding: 50px 20px 0;
    	width: 70%;
    	min-width: 0;
    	max-width: auto;
    }
    .pending-action-count{
    	height: 16px;
    	width: 16px;
    	@extend .f-color-white;
    	font-size: $font-10;
    	border-radius: 50%;
    	text-align: center;
    	line-height: 15px;
    	display: inline-block;
    	background: $color-dark-salmon;
    	vertical-align: text-bottom;
    }
    .action-buttons{
    	float: left;
    	margin-left: 120px;
    	margin-bottom: 30px;
    	@media screen and (max-width: 1024px){
    		margin-left: 50px;
    	}
    	> span{
    		margin-right: 15px;
    	}
    	a{
    		margin-right: 10px;
    	}
    }
    .action-block{
    	padding: 0 15px;
        > .row{
            position: relative;
        }
    	.action-time{
    		padding-top: 35px;
    		font-size: $font-14;
            position: absolute;
            top: 0;
            right: 0;
    		.time{
    			font-size: $color-greyish-brown;
    		}
    		.date{
    			color: $color-warm-grey;
    		}
    	}
    }
	.action-detail-wrapper{
		background: white;
		border-radius: 4px;
		padding: 35px 0;
		margin-bottom: 15px;
		&:hover{
			background: #fafafa;
		}
		.padder{
			padding: 0 0 0 64px;
			&.green{
				border-left: 4px solid $color-avocado-green;
			}
			&.red{
				border-left: 4px solid $color-dark-salmon;
			}
		}
		.top-section{
			border-bottom: 2px solid #F3F3F3;
			padding-bottom: 20px;
			margin-bottom: 20px;
			padding-right: 20px;
			.title{
				font-size: 21px;
				color: $color-muted-purple;
			}
			.top-section-deal-detail{
				float: left;
				color: $color-muted-purple;
				font-size: $font-12;
				margin-right: 35px;
				margin-top: 5px;
			}
		}
		.bottom-section{
			font-size: $font-14;
			padding-right: 20px;
			color: $color-greyish-brown;
		}
	}
	.past-actions{
		padding-top: 25px;
		margin-bottom: 20px;
		color: $color-greyish-brown;
	}
}