nav{
	width: 100%;
	background: $color-muted-purple;
	color: $color-white-50;
	height: 64px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	.navbar-brand{
		padding: 22px 25px 22px 0;
		margin-left: 0 !important;
		height: 100%;
		border-right: 2px solid $color-dusk;
		.circle{
			background: $color-white-50;
			height: 20px;
			width: 20px;
			border-radius: 50%;
			float: left;
		}
		.text{
			padding-left: 16px;
			color: $color-white;
			font-size: $font-18;
			float: left;
		}
	}
	.navbar-header{
		float: left;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	#navbar{
		height: 64px;
		position: relative;
		.navbar-nav{
			margin: 0;
			height: 100%;
			float: left;
			li{
				float: left;
				height: 100%;
				a{
					padding: 22px 0;
					margin: 0 5px 0 25px;
					color: $color-white-50;
					@media (min-width: 1025px){
						.visible-lg{
							display: inline-block !important;
						}
					}
					&:hover,&:focus{
						background: none;
						color: $color-white;
						.icon-home{
							background-position: -132px 0;
						}
						.icon-deals{
							background-position: -22px -60px;
						}
						.icon-people{
							background-position: -154px 0px;
						}
						.icon-companies{
							background-position: -132px -20px;
						}
						.icon-activities{
							background-position: -154px -20px;
						}
						.icon-reports{
							background-position: -132px -40px;
						}
						.icon-mail{
							background-position: -154px -40px;
						}
					}
				}
				&.active{
					a{
						color: $color-white;
						.icon-home{
							background-position: -132px 0;
						}
						.icon-deals{
							background-position: -22px -60px;
						}
						.icon-people{
							background-position: -154px 0px;
						}
						.icon-companies{
							background-position: -132px -20px;
						}
						.icon-activities{
							background-position: -154px -20px;
						}
						.icon-reports{
							background-position: -132px -40px;
						}
						.icon-mail{
							background-position: -154px -40px;
						}
					}
				}
			}
		}
		.profile-pic{
			height: 40px;
			width: 40px;
			border-radius: 50%;
			background: $color-white-50;
			float: right;
			margin-top: 12px;
			position: relative;
			> a{
				height: 100%;
				width: 100%;
				border-radius: 50%;
				display: block;
			}
		}
		.notifications{
			padding-top: 22px;
			float: right;
			margin-right: 35px;
			> a.notifications-full-view-link{
				position: relative;
				.notification-indicator{
					background: $color-orange;
					height: 10px;
					width: 10px;
					border: 2px solid $color-muted-purple;
					position: absolute;
					top: 0;
					right: 10px;
					border-radius: 50%;
				}
			}
			@media (max-width: 800px){
				margin-right: 20px;
			}
		}
		.search-container{
			float: right;
			padding-top: 22px;
			margin-right: 35px;
			@media (max-width: 800px){
				margin-right: 20px;
			}
		}
	}
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
	margin-left:0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}