.popup-notification-wrapper{
	width: 412px;
	height: 138px;
	background: $color-black-98;
	position: absolute;
	right: 0;
	top: 58px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
	color: $color-warm-grey;
	padding: 20px 20px 10px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .75s ease;
       -moz-transition: all .75s ease;
        -ms-transition: all .75s ease;
         -o-transition: all .75s ease;
            transition: all .75s ease;
	&.open{
		opacity: 1;
	    visibility: visible;
		&::after{
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			border-bottom: 5px solid $color-black-98;
			content: "";
			position: absolute;
			top: -5px;
			right: 87px;
		}
	}
	.icon-message{
		float: left;
		margin-top: 5px;
	}
	.notification-icon-close{
		position: absolute;
		right: 18px;
		top: 18px;
	}
	> div{
		padding-left: 34px;
		font-size: $font-14;
		p{
			opacity: 0.62;
		}
		.title{
			font-size: $font-16;
			opacity: 1;
		}
		.time{
			font-size: $font-12;
		}
	}
}
.notification-overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.3);
	z-index: 10000;
	display: none;
}
.notification-full-view{
	width: 420px;
	background: #2e2e2e;
	box-shadow: -4px 0 24px 0 rgba(0, 0, 0, 0.5);
	position: absolute;
	right: -430px;
	top: 0;
	bottom: 0;
	.close-notification-dd{
		box-shadow: none;
	    height: 64px;
	    position: absolute;
	    right: 0;
	    top: 0;
	    width: 64px;
	    a{
	    	padding: 22px;
	    	display: block;
	    }
	}
	.notification-heading{
		padding-left: 32px;
		padding-top: 20px;
		font-size: $font-18;
		color: $color-white;
		margin-bottom: 20px;
		.notification-count{
			font-size: $font-12;
			color: $color-white;
			background: $color-orange;
			height: 24px;
			width: 24px;
			border-radius: 50%;
			margin-left: 5px;
			display: inline-block;
			vertical-align: top;
			line-height: 24px;
			text-align: center;
			margin-top: 1px;
		}
	}
	.nav-tabs{
		box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
		border-bottom: none;
		li{
			width: 25%;
			> a {
				display: block;
				height: 66px;
				text-align: center;
				border: none;
				color: $color-warm-grey;
				font-size: $font-14;
				.icon{
					margin-right: 0;
					margin-bottom: 5px;
				}
				.text{
					padding-bottom: 6px;
				}
				.icon-notification{
					background-position: -132px -80px;
				}
			}
			> a:hover{
				color: $color-white;
				background: none;
				.icon-deals{
					background-position: -22px -60px;
				}
				.icon-activities{
					background-position: -154px -20px;
				}
				.icon-mail{
					background-position: -154px -40px;
				}
				.icon-notification{
					background-position: 0 0;
				}
			}
			&.active{
				> a, > a:focus{
					background: #313131;
					border: none;
					color: $color-white;
					outline: none;
					.text{
						border-bottom: 2px solid $color-white;
					}
					.icon-deals{
						background-position: -22px -60px;
					}
					.icon-activities{
						background-position: -154px -20px;
					}
					.icon-mail{
						background-position: -154px -40px;
					}
					.icon-notification{
						background-position: 0 0;
					}
				}
			}
		}
	}
	div.tab-content{
		ul{
			list-style-type: none;
			> li{
				box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
				background:#313131;
				color: $color-warm-grey;
				padding: 15px 32px;
				font-size: $font-14;
				p{
					opacity: 0.62;
				}
				p.title{
					font-size: $font-16;
					opacity: 1;
				}
				p.time{
					font-size: $font-12;
					margin-bottom: 0;
				}
			}
		}
	}
}