.profile-menu{
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	z-index:10000;
	background: rgba(0,0,0,0.3);
	height:100%;
	display: none;
	.container{
		height: 100%;
	}
	.profile-dropdown{
		box-shadow: -4px 0 24px 0 rgba(0, 0, 0, 0.5);
		width: 300px;
		background: $color-black-98;
		list-style-type: none;
		position: absolute;
		bottom: 0;
		right: 0;
		top: 0;
		margin: 0;
		right: -310px;
		li{
			box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.3);
			a{
				padding: 18px 25px;
				color: $color-warm-grey;
				display: block;
				&:hover{
					text-decoration: none;
					color: $color-white;
					.icon-user{
						background-position: -176px 0;
					}
					.icon-dollar{
						background-position: -176px -20px;
					}
					.icon-tell-friend{
						background-position: -176px -40px;
					}
					.icon-settings{
						background-position: -176px -60px;
					}
					.icon-logout{
						background-position: -176px -80px;
					}
				}
				.icon{
					margin-right: 25px;
				}
			}
		}
		li.close-profile-dd{
			position: absolute;
			right: 0;
			top: 0;
			width: 64px;
			height: 64px;
			box-shadow: none;
			a{
				padding: 22px;
			}
			.icon{
				margin: 0;
			}
		}
		li.profile-pic-div{
			height: 300px;
			padding-top: 64px;
			color: $color-warm-grey;
			.display-pic{
				margin: 0 auto 20px;
				height: 128px;
				width: 128px;
				background: $color-warm-grey;
				border-radius: 50%;
			}
			.user-name{
				font-size: $font-18;
				color: $color-white;
				text-align: center;
			}
			.other-info{
				font-size: $font-14;
				text-align: center;
			}
		}
		li.copy-right{
			position: absolute;
			bottom: 8px;
			left: 25px;
			right: 25px;
			font-size: $font-12;
			color: $color-warm-grey;
		}
	}
}