.sub-menu{
	height: 56px;
	background: $color-white;
	width: 100%;
	min-width: 1024px;
	.breadcrums{
		height: 56px;
		font-size: $font-18;
		color: $color-warm-grey-two;
		text-transform: capitalize;
		ul{
			list-style-position: inside;
			margin-top: 0;
			li{
				float: left;
				margin-right: 9px;
				padding-top: 17px;
				&.title{
					color: $color-muted-purple;
					font-weight: 600;
					list-style-type: none;
				}
			}
		}
	}
	.right-side{
		list-style-type: none;
		> li{
			float: right;
			margin-left: 15px;
			position: relative;
			> a{
				color: $color-warm-grey-three;
				padding-top: 18px;
				padding-bottom: 14px;
				text-decoration: none;
				display: block;
				position: relative;
				&:hover,&:focus{
					text-decoration: none;
					outline: none;
					color: $color-muted-purple;
				}
				&.color-green{
					color: $color-avocado-green;
				}
			}
			&.open, &:hover{
				.icon-export {
				    background-position: -88px -20px;
				}
				.icon-filter {
				    background-position: -88px -60px;
				}
				.icon-pipeline {
				    background-position: -88px -80px;
				}
			}
			.dropdown-menu{
				li{
					float: none;
					display: block;
					margin: 0;
				}
				&.export{
					width: 200px;
					left: -50%;
					@media screen and(max-width: 768px) {
						left: -120%;
					}
				}
			}
		}
	}
}