.stages-list{
	ul{
		list-style-type: none;
		margin-bottom: 0 !important;
		li{
			width: 20%;
			float: left; 
			div.title{
				width: 100%;
				height: 53px;
				position: relative;
				text-align: center;
				background: $color-topaz;
				border-bottom: 5px solid #f2f2f2;
				&::after{
					background: $color-topaz;
				    border-radius: 0 5px 0 50px;
				    box-shadow: 2px -2px 0 2px #f2f2f2, 3px -3px 0 2px #f2f2f2;
				    content: "";
				    height: 48px;
				    position: absolute;
				    right: -18px;
				    top: 0;
				    transform: scale(0.707) rotate(45deg);
				    width: 48px;
				    z-index: 1;
				}
			}
			&:first-child div.title{
				border-radius: 25px 0 0 25px;
			}
			&:last-child div.title{
				border-radius: 0 25px 25px 0;
				&::after {
				    content: none;
				}
			}
			a,a:hover{
				color: $color-white;
				font-weight: 600;
				line-height: 48px;
				text-decoration: none;
				padding-left: 10px;
				.count{
					background: rgba(112, 85, 135, 0.4);
					height: 18px;
					width: 18px;
					border-radius: 50%;
					font-size: 12px;
					display: inline-block;
					line-height: 18px;
					vertical-align: middle;
					margin-right: 5px;
				}
				.truncate{
					max-width: 68%;
					display: inline-block;
					vertical-align: middle;
					width: auto;
				}
			}
			.amount{
				p{
					height: 60px;
					box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
					background: #fff;
					color: $color-orange;
					font-size: $font-14;
					text-align: center;
					margin-top: -30px;
					margin-bottom: 0;
					span{
						display: block;
						background: white;
						margin-right: -5px;
						margin-left: -5px;
						line-height: 30px;
						padding-top: 30px;
					}
				}
			}
			&:first-child{
				.amount{
					p{
						border-radius: 30px 0 0 30px;
						margin-left: 8px;
						span{
							margin-left: 0px;
							border-radius: 30px 0 0 30px;
						}
					}
				}
			}
			&:last-child{
				.amount{
					p{
						border-radius: 0 30px 30px 0;
						margin-right: 8px;
						span{
							border-radius: 0 30px 30px 0;
							margin-right: 0;
						}
					}
				}
			}
			.separator{
					display: block;
					width: 0px;
					border-right: 1px solid $color-greyish-brown;
					height: 8px;
					margin: 0 auto;
					opacity: 0.1;
					// &:first-child{
					// 	height: 18px;
					// }
				}
			.all-task{
				min-height: 500px;
				.sortable-div{
					cursor: move;
				}
				.white-box{
					background: $color-white;
					height: 88px;
					margin:0 15px;
					border-radius: 3px;
					padding: 15px 15px 10px;
					position: relative;
					&:hover{
						opacity: 0.6;
					}
					.deal-title{
						color: $color-muted-purple;
						&:hover{
							cursor: pointer;
						}
					}
					.deal-amount{
						font-size: 14px;
						color: $color-warm-grey-three;
						margin-bottom: 8px;
					}
					.deal-company{
						font-size: $font-10;
						color: $color-warm-grey;
						float: left;
						width: 50%;
						text-transform: uppercase;
					}
					.deal-person{
						font-size: $font-10;
						color: $color-warm-grey;
						float: right;
						text-align: right;
						width: 50%;
						text-transform: capitalize;
					}
				}
				.sortable-div.ui-sortable-helper{
					.white-box{
						box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.3);
					}
				}
			}
			&.active{
				div.title{
					background: $color-teal-blue;
					&::after{
						background: $color-teal-blue;
					}
				}
				.all-task{
					background: #e8e8e8;
				}
			}
		}
	}
}
.portlet-placeholder {
	border: 2px dashed #d0d0d0;
	margin: 8px 15px;
	height: 88px;
	position: relative;
	&::after,&::before{
		border-right: 1px solid #4a4a4a;
	    content: "";
	    height: 8px;
	    left: 50%;
	    opacity: 0.1;
	    position: absolute;
	    top: -10px;
	    width: 1px;
	    margin-left: -1px;
	}
	&::before{
		top: auto;
		bottom: -10px;
	}
}
.task-action-wrapper{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 0;
	text-align: center;
	padding-top:30px;
    -webkit-transition: height 0.4s; /* Safari */
    transition: height 0.4s;
    &.open{
    	height: 106px;
    }
	> .action-div{
		width: 100%;
		height: 76px;
		background: $color-white;
		box-shadow: 0 0 2px rgba(0,0,0,0.2);
	}
	.action-button{
		height: 86px;
		padding: 40px 0 10px;
		margin-top: -30px;
		display: inline-block;
		vertical-align: top;
		&.active{
			margin-top: -40px;
			vertical-align: top;
		}
		span{
			height: 56px;
			width: 56px;
			border-radius: 50%;
			display: inline-block;
			margin: 0 10px;
		}
	}
	.thumb-down span{
		background: $color-dark-salmon;
	}
	.thumb-up span{
		background: $color-soft-green;
	}
	.trash span{
		background: $color-pinkish-grey;
	}
}
.circle-half-yello{
    background: $color-sunflower-yellow;
    border-radius: 0 90px 90px 0;
    display: block;
    height: 12px;
    width: 6px;
    display: block;
    position: absolute;
    left: 0;
    top: 20px;
}
.circle-half-topaz{
    background: $color-topaz;
    border-radius: 0 90px 90px 0;
    display: block;
    height: 12px;
    width: 6px;
    display: block;
    position: absolute;
    left: 0;
    top: 20px;
}
.circle-half-grey{
    background: #afafaf;
    border-radius: 0 90px 90px 0;
    display: block;
    height: 12px;
    width: 6px;
    display: block;
    position: absolute;
    left: 0;
    top: 20px;
}

.grid-view{
	.table{
		th{
			@media screen and (min-width: 1024px){
				width: 16.33%;
			}
			@media screen and (min-width: 1520px){
				width: 21.33%;
				&:nth-child(2),&:nth-child(3),&:nth-child(6){
					width: 12%;
				}
			}
		}
	}
}