.btn, .btn:hover,.btn:focus,.btn.active:focus,.btn:active:focus{
	padding: 8px 15px;
	border: none;
	font-size: $font-16;
	background: $color-dark-lavender;
	text-transform: uppercase;
	color: $color-white;
	border-radius: 2px;
	outline: none;
	box-shadow: none;
	&.white{
		background: $color-white;
		color: $color-warm-grey;
		&:hover,&:focus,&:active:focus,&.active.focus{
			background: $color-white;
			color: $color-muted-purple;
		}
	}
}
.btn-small{
	border-radius: 20px;
	border: 1px solid #d0d0d0;
	padding: 6px 12px;
	font-size: $font-14;
	&.f-color-grey{
		color: $color-warm-grey;
	}
	&.f-color-purple{
		color: $color-muted-purple;
	}
	&:hover,&.active{
		color: $color-muted-purple;
		text-decoration: none;
		border-color: $color-muted-purple;
	}
	&.active{
		color: $color-white;
		background: $color-muted-purple;
	}
}
.btn-small-modal{
	border-radius: 20px;
	font-size: 12px;
	background: #f6f6f6;
	color: #999999;
	line-height: 24px;
	padding: 3px 8px;
	&.selected{
		color: #ffffff;
		background: $color-dark-lavender;
	}
	&:hover,&:focus{
		text-decoration: none;
	}
}
.btn.selectpicker, .btn.selectpicker:hover, .btn.selectpicker:focus, .btn.selectpicker:active, .btn.selectpicker.active, .open > .btn.selectpicker{
	background: transparent;
	padding: 6px 12px;
	border-radius: 2px;
	color: $color-warm-grey-two;
	font-size: 14px;
	border: 1px solid #d0d0d0;
	text-transform: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.btn.selectpicker:focus{
	border-color: #705587;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
	width: 100%;
}
