.dropdown-toggle{
	cursor: pointer;
}
.dropdown-menu{
	border: none;
	border-top: 4px solid $color-muted-purple;
	background: #f9f9f9;
	border-radius: 0;
	padding:0;
	&.width-100{
		width: 100%;
	}
	&.arrow{
		&::after{
			border-bottom: 5px solid $color-muted-purple;
		    border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    content: "";
		    left: 50%;
		    margin-left: -3px;
		    position: absolute;
		    top: -9px;
		}
	}
	&.filter-dropdown{
		width: 300px;
		&::after{
			left: auto;
			right: 35px;
		}
	}
	> li{
		> a{
			padding: 15px 12px;
			box-shadow: inset 0 -1px 0 0 #f2f2f2;
			color: $color-warm-grey;
			font-size: $font-16;
			position: relative;
			&.active,&:hover{
				color: $color-greyish-brown;
				background: $color-white;
			}
		}
	}
	&.table-menu{
		min-width: 222px;
		li {
			a{
				padding: 15px 40px;
				&.active::after{
					background: white none repeat scroll 0 0;
				    border-bottom: 2px solid $color-avocado-green;
				    border-right: 2px solid $color-avocado-green;
				    content: "";
				    height: 13px;
				    margin-top: -6px;
				    position: absolute;
				    left: 15px;
				    top: 25px;
				    transform: rotate(45deg);
				    width: 7px;
				}
			}
			&.action-buttons{
				a{
					float: left;
					clear: none;
					padding: 15px 6px 15px 8px;
					@media screen and(max-width: 1024px) {
						padding: 15px 1px 15px 2px;
					}
					&:hover{
						background: none;
						margin-top: -10px;
						box-shadow: none;
					}
					span{
						height: 40px;
					    width: 40px;
					    border-radius: 50%;
					    display: inline-block;
					    margin: 0 10px;
					    text-align:center;
					}
					&.thumb-down span{
						background: $color-dark-salmon;
						.icon{
							background-position: 0 -87px;
						}
					}
					&.thumb-up span{
						background: $color-soft-green;
						.icon{
							background-position: -22px -90px;
						}
					}
					&.trash span{
						background: $color-pinkish-grey;
						.icon{
							background-position: -44px -90px;
						}
					}
				}
			}
		}
	}
	li.divider-2dp{
		background: #ededed;
		padding: 11px 12px;
		font-size: $font-12;
		color: #757575;
	}
}

.bootstrap-select.btn-group .dropdown-menu {
    box-sizing: border-box;
    min-width: 100%;
    z-index: 1035;
    border: none;
	margin: 0;
	background: #fff;
	padding: 5px 0;
	border-radius: 2px;
    &.inner {
	    border: 0 none;
	    border-radius: 0;
	    box-shadow: none;
	    margin: 0;
	    padding: 0;
	    position: static;
	}
	li > a{
		clear: both;
	    color: #333;
	    display: block;
	    font-weight: 400;
	    line-height: 1.42857;
	    padding: 3px 20px;
	    white-space: nowrap;
	    box-shadow: none;
	}
}