label{
	font-size: $font-11;
	color: $color-warm-grey-two;
	font-weight: normal;
}
input[type="text"],input[type="password"],.form-control{
	border-radius: 2px;
	border: 1px solid #d0d0d0;
	&:focus{
		border-color: $color-muted-purple;
		box-shadow: none;
	}
}