.modal{
	.modal-dialog{
		margin-top: 64px;
	}
	.modal-content{
		border-radius: 4px;
	}
	.modal-header{
		padding: 30px 30px 12px;
		border: none;
		h4{
			font-size: 24px;
			color: $color-muted-purple;
		}
	}
	.modal-body{
		padding: 0 30px;
	}
	.modal-footer{
		text-align: right;
		padding-left: 30px;
		padding-right: 30px;
		border: none;
	}
}
#newNote, #newDeal, #modifyCompanyDetails{
	&.modal {
		.modal-dialog{
			width: 360px;
		}
	}
}
#noteDiscription{
	height: 180px;
}