.table{
	.dropdown-toggle{
		position: relative;
	}
	.caret{
		border: none;
		display: none;
		float: right;
		&::after{
			background: white;
		    border-bottom: 2px solid grey;
		    border-right: 2px solid grey;
		    content: "";
		    height: 10px;
		    position: absolute;
		    right: 0;
		    top: 6px;
		    transform: rotate(45deg);
		    width: 10px;
		}
	}
	> thead {
		> tr {
			> th{
				background: #f9f9f9;
				border-bottom: 1px solid #ddd;
				border-right: 1px solid #ddd;
				padding: 15px;
				font-size: $font-16;
				color: $color-greyish-brown;
				font-weight: 400;
				&:last-child{
					border-right: none;
				}
			}
		}
	}
	> tbody{
		> tr{
			background: $color-white;
			> td{
				padding: 15px;
				border: none;
				position: relative;
				color: $color-warm-grey;
				&.title{
					color: $color-muted-purple;
				}
				span.text{
					padding-right:18px;
				}
			}
			&:hover {
				background: $color-white-26;
				.caret{
					display: block;
					&::after{
						background: $color-white-26;
					}
				}
				> td{
					color: $color-greyish-brown;
					&.title, &:nth-child(4), &:nth-child(5){
						color: $color-muted-purple;
					}
				}
			}
			&:nth-of-type(2n){
				background: $color-white-70;
				&:hover{
					background: $color-white-26;
				}
			}
		}
	}
}