.ui-grid{
	border: none;
}
.ui-grid-header{
	border-bottom: 1px solid #ddd;
}
.ui-grid-viewport{
	overflow-x: hidden !important;
	overflow-y: scroll !important;
}
.ui-grid-canvas{
	padding-top:0;
}
.ui-grid-cell-contents{
	padding: 15px;
	&:focus{
		outline: none;
	}
}
.ui-grid-cell{
	border-right: none;
}
.ui-grid-top-panel{
	background: #f9f9f9;
}
.ui-grid-header-cell{
	border-right: 1px solid #ddd;
}
.ui-grid-header-cell-label{
	font-size: $font-16;
	font-weight: 400;
	color: $color-greyish-brown;
}
.ui-grid-row:nth-child(2n+1){
	background: $color-white;
	.ui-grid-cell{
		background: none;
		color: $color-warm-grey;
	}
}
.ui-grid-row:nth-child(2n){
	background: $color-white-70;
	.ui-grid-cell{
		background: none;
		color: $color-warm-grey;
	}
}
.ui-grid-row:hover{
	background: $color-white-26;
	.ui-grid-cell{
		color: $color-greyish-brown;
	}
}
.ui-grid-row, .ui-grid-cell, .ui-grid-cell .ui-grid-vertical-bar{
	height: 53px !important;
}
.ui-grid-column-menu-button{
	top: 11px;
	&:focus{
		outline: none;
	}
}
.ui-grid-menu .ui-grid-menu-inner{
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	background: #f9f9f9;
	border: none;
	border-top: 4px solid #705587;
	ul li{
		&:focus{
			outline: none;
		}
		button{
			padding: 15px 40px 15px 20px;
			box-shadow: 0 -1px 0 0 #f2f2f2 inset;
			border: none;
			color: $color-warm-grey;
			font-size: 16px;
			&:hover,&:focus{
				box-shadow: 0 -1px 0 0 #f2f2f2 inset;
				background: $color-white;
				color: $color-greyish-brown;
				outline: none;
			}
		}
		&:not(:last-child){
			> button{
				border-bottom: none;
			}
		}
	}
}